<header>
  <img src="https://angular.io/assets/images/logos/angular/angular_whiteTransparent.svg" alt="">
  <p>JSON API</p>
</header>

<div [@showUsersAnim]="animationState" class="container-for-users" *ngIf="isUsersListActive">

  <app-user-item *ngFor="let user of users"
                  [user]="user"
                  (click)="getUserInfo(user.id)" class="container">
  </app-user-item>

</div>

<div [@changeButtonAnim]="animationStateButton" class="users-list">
  <span [@changeTextColor]="animationStateTextColor" (click)="showUsers()">{{buttonName}}</span>
</div>

<div class="user-info-container" *ngIf="userInfo">
  <app-user-info [userInfo]="userInfo"></app-user-info>

  <div class="buttons-container">
    <button class="info-buttons" (click)="getPosts(userInfo.id)">Show posts</button>
    <button class="info-buttons" (click)="getTodos(userInfo.id)">Show todos</button>
    <button class="info-buttons" (click)="getAlbums(userInfo.id)">Show albums</button>
  </div>

  <div class="user-posts-container" *ngIf="isPostsActive">
    <app-user-post *ngFor="let post of posts"
                    [post]="post">
    </app-user-post>
  </div>

  <div class="user-todos-container" *ngIf="isTodosActive">
    <app-post-todos *ngFor="let todo of todos"
                    [todo]="todo">
    </app-post-todos>
  </div>

  <div class="users-albums-container" *ngIf="isAlbumsActive">
    <app-user-albums *ngFor="let album of albums"
                      [album]="album">
    </app-user-albums>
  </div>

</div>
